h1 {
    text-align: center;
}

h3 {
    border-bottom: thin solid;
}

h4 {
    font-weight: bold;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact {
    text-align: center;
    border-top: thin solid;
    border-bottom: thin solid;
}

.bold {
    font-weight: bold;
}

li {
    padding-left: 40px;
}

table {
    width: 100%;
}

td {
    padding-left: 40px;
    width: 2000px;
}